# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Migrations cache
*/migrations/__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
